In [1]:
from sklearn.datasets import make_blobs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [5]:
X = pd.read_csv(r"C:\Users\joelm\Documents\handson-ml3\Joel\adult.data", header=None)

In [6]:
X.shape

(32561, 15)

In [9]:
X.columns = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","salary"]

In [11]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
X2 = pd.get_dummies(X, columns=['workclass', 'education', 'marital-status'])
X2.head()

,age,fnlwgt,education-num,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,...,education_ Preschool,education_ Prof-school,education_ Some-college,marital-status_ Divorced,marital-status_ Married-AF-spouse,marital-status_ Married-civ-spouse,marital-status_ Married-spouse-absent,marital-status_ Never-married,marital-status_ Separated,marital-status_ Widowed
0,39,77516,13,Adm-clerical,Not-in-family,White,Male,2174,0,40,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,Exec-managerial,Husband,White,Male,0,0,13,...,0,0,0,0,0,1,0,0,0,0
2,38,215646,9,Handlers-cleaners,Not-in-family,White,Male,0,0,40,...,0,0,0,1,0,0,0,0,0,0
3,53,234721,7,Handlers-cleaners,Husband,Black,Male,0,0,40,...,0,0,0,0,0,1,0,0,0,0
4,28,338409,13,Prof-specialty,Wife,Black,Female,0,0,40,...,0,0,0,0,0,1,0,0,0,0

In [15]:
X3 = pd.get_dummies(X)
X3.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,salary_ <=50K,salary_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [35]:
y = X3.iloc[:,109]
y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: salary_ >50K, Length: 32561, dtype: uint8

In [37]:
from sklearn.preprocessing import StandardScaler

In [39]:
Z = 100*np.random.rand(200, 4)+50
Z

array([[ 60.46016199,  50.76259112,  57.45638735, 131.4196526 ],
       [120.10831575, 140.34645857,  98.71062523, 130.5936547 ],
       [112.9355034 , 111.49762901, 118.80757874, 124.37702989],
       [ 90.38344221, 127.32318336, 127.89271394, 107.15142203],
       [ 82.40914575,  52.5494904 ,  71.66976289,  83.2445123 ],
       [118.52479495,  55.52225536,  58.54658271, 107.72467195],
       [121.65258805,  97.11477225,  71.47015117,  63.60521529],
       [ 82.29102868, 110.80877437, 145.30382885,  67.98923907],
       [118.93128753, 106.89672172, 146.07823988,  66.93374134],
       [118.94735675, 135.13540978,  56.49546482,  74.41151274],
       [ 79.51196276,  57.46695493, 140.09874751,  61.81076356],
       [ 96.02196865, 149.01065853, 101.59839397,  74.53662427],
       [ 90.97018553, 110.16017017,  76.92347055,  61.68603987],
       [140.86979361, 104.39217827,  56.13269532, 112.43740378],
       [121.53193355,  97.84221807, 110.85067949,  95.85816358],
       [116.64631961, 143.71098594, 141.52384018,  93.04200693],
       [141.80223317, 140.22347517,  98.82694149, 140.00333291],
       [121.03554887,  74.84322677,  50.14231093, 141.85505729],
       [102.52712743,  64.28381071,  74.00378273, 143.40425643],
       [ 65.92188866, 107.319593  ,  62.0823274 , 104.6582489 ],
       [132.8345875 ,  66.68585711, 109.64223069, 147.7684031 ],
       [102.12417957, 111.31064451, 142.34517554, 134.93490084],
       [119.06085513, 129.51433812, 143.71831301,  96.79621859],
       [ 80.62003673, 135.39136584, 139.31989491,  78.94044976],
       [ 65.10833898,  74.18323871, 117.12628457,  73.10602238],
       [ 93.3682726 ,  86.96352284, 145.35473379, 127.05835375],
       [104.38096746,  60.25378136, 146.42658497, 133.4324716 ],
       [127.86789862, 101.09452585, 100.40070866,  88.56616854],
       [ 67.12831686, 118.26783158, 110.90723366,  85.82684941],
       [ 79.67363741,  96.5561305 , 133.19603314,  81.7480517 ],
       [ 66.54563212,  66.09436227, 147.59819993,  62.13954117],
       [135.65972424, 112.66449752, 111.13733784,  90.52507959],
       [ 89.67204239, 128.75671338, 118.10466894, 112.51393489],
       [128.44438918,  92.53688325, 108.77251444,  71.32814755],
       [ 55.37436485, 126.81122288,  82.12671121,  86.82681   ],
       [ 70.23439536, 135.89272629, 138.3198618 ,  69.61577812],
       [125.5952273 ,  67.16706324, 109.11249467, 138.16491714],
       [ 94.08256063,  74.42323886,  63.57331456, 149.84573349],
       [ 97.78521182,  67.82189163,  91.335167  , 108.72314154],
       [146.34307394,  75.87649303,  77.17613263,  61.42686894],
       [121.85431585,  97.21380221,  50.87204121,  64.29247485],
       [102.9296741 ,  75.30262603, 119.63447173, 136.87170658],
       [124.49863499,  71.32450049, 144.72340116, 115.10315405],
       [119.13565332, 112.9249363 ,  58.0657266 , 106.81640613],
       [104.55869475, 115.07600872, 136.21081064, 115.12317779],
       [137.22506681, 128.00750869, 112.03774287, 106.74857361],
       [ 99.61456387, 133.30087265,  51.59469015,  55.09225153],
       [ 66.2790616 , 134.23142475,  92.97760133, 100.31910887],
       [125.52516196,  66.24148162, 144.3263982 ,  82.96339315],
       [ 96.28920654, 136.44347952, 118.8112066 , 139.26145213],
       [ 76.58997552,  95.49529249,  81.84035514,  91.8117837 ],
       [112.3294752 , 144.91460942, 134.21816762,  97.27951432],
       [ 65.69197616,  87.52600876, 109.14194629, 141.93389549],
       [148.66918989, 111.16629207,  86.70539375,  61.98251502],
       [138.63280714,  50.22734594, 103.89157072,  94.42458027],
       [ 95.39653035, 147.08887943,  88.93610005, 117.9430551 ],
       [140.75722502,  98.88747663,  88.61989683,  64.97218858],
       [ 55.54251664, 109.27210344,  83.69607551,  98.47805543],
       [122.46584736, 125.6773205 ,  79.95685696,  99.76201033],
       [120.46404587,  76.99597439,  78.57124625,  77.81465932],
       [109.12620439,  76.35894196,  55.09318118,  59.28752488],
       [ 81.10968724,  74.82892045,  68.66691697,  52.71419898],
       [ 95.99562434,  87.47948563,  89.5359924 , 141.25603409],
       [128.35213553, 130.19426068, 142.58598937,  56.61393874],
       [ 83.41431979, 115.68428716,  90.7527066 , 126.16586271],
       [ 89.00086376, 103.01119147,  98.43250135,  63.95904713],
       [ 68.59899304, 107.43078492,  97.91564272, 108.71800276],
       [148.2331894 ,  68.82615913, 138.07542891,  79.06348676],
       [105.64403468,  92.85485129, 133.00313003,  57.84412779],
       [ 64.46136435, 144.14105895, 121.85964904, 142.97279967],
       [143.58896903,  97.09952672, 142.8330958 ,  54.87061125],
       [ 89.39315259,  55.98866598, 144.4916401 ,  60.90962559],
       [116.9194481 , 100.86170798,  60.2534872 , 142.50729373],
       [ 59.42950895, 103.81334432, 101.28645863,  96.0303251 ],
       [ 56.63535286, 123.3824413 ,  80.35335554,  81.9132623 ],
       [ 64.53905359,  69.22182955, 145.39942053,  79.61200397],
       [140.36322729,  68.54068012,  64.01897579, 101.43971976],
       [ 60.60893291, 130.06419686, 108.55640412,  50.32218717],
       [ 51.08843566, 136.85941001,  89.10691565,  83.15986056],
       [ 99.6874493 ,  99.23003093,  78.23210572,  67.10267994],
       [133.31643378,  86.34132237,  96.71173635,  96.74471511],
       [118.04308978, 129.15330768, 131.16364329,  69.78782494],
       [ 99.9834703 , 118.76103847, 123.94964251, 100.28209352],
       [101.81836101, 130.64088592, 106.77196369,  79.49022746],
       [118.07164828, 130.15626719,  57.19092623, 135.70457743],
       [ 52.6456355 , 108.96947609, 111.15449165,  65.59915867],
       [ 99.12885863,  82.85408233, 135.94371482,  60.66889366],
       [148.16826069, 138.3001153 ,  92.97524666, 137.21676944],
       [ 50.73087064, 110.31896122, 109.96299481, 135.48194465],
       [122.79454382,  93.10721652,  60.67641087, 128.32312206],
       [ 98.44438256,  80.66306299, 143.1005106 ,  85.86619027],
       [ 96.71359135,  70.99470217, 102.62322203, 141.72285466],
       [ 72.41598572, 141.56514082, 124.12661999,  80.01444719],
       [127.58129083, 102.15349825,  64.80544121, 100.19458926],
       [ 51.75731052,  90.882683  ,  89.89460709, 133.12377254],
       [ 79.35887976,  99.40373895, 100.93111412,  81.45816584],
       [143.7419731 ,  88.94311108, 135.85670705,  80.85297428],
       [ 89.68632993,  56.37853398,  79.30922625,  92.88718318],
       [ 64.05575792,  62.45411571, 140.28261617,  98.0298155 ],
       [ 75.12880596,  76.2808967 , 115.63212543, 144.74044673],
       [109.00719882, 113.16246076, 131.69236029, 102.5746514 ],
       [135.78313131, 113.60689477,  87.59430992, 130.30652596],
       [ 58.10668961,  57.06553078, 115.0716735 , 136.65330892],
       [115.08368807,  69.39086576,  73.79217711, 125.11546822],
       [127.629747  , 138.0772144 ,  65.73116665,  71.67702404],
       [ 85.41355522, 120.50498415, 103.94763949,  84.56266571],
       [116.25597406, 124.59205987,  54.90810464,  80.29182287],
       [142.07566268,  83.88369585, 145.37296794, 122.66045996],
       [ 76.30706892, 106.89394604,  71.13574382, 110.14844559],
       [ 65.82107667,  87.49705251, 121.07837795,  89.46319971],
       [ 50.88596366, 120.93134025, 122.15644876,  69.99467295],
       [130.45750672, 136.93842172,  97.39224441, 105.21255843],
       [144.64229728, 103.99900966,  66.43298176, 149.29670088],
       [145.03886887,  77.80878638, 109.41185716,  51.81656952],
       [104.78463459, 103.61772278,  62.67556483,  84.41486256],
       [ 85.2919411 ,  80.2455139 ,  84.95931884,  92.74477879],
       [106.95062737,  70.50123978,  62.62620342, 115.78542147],
       [141.20404559,  57.48175815, 145.15710687, 132.3524475 ],
       [149.89051775, 104.01880455, 105.86249914, 110.30269979],
       [ 63.29073685, 148.34247221, 141.04471506, 102.99685142],
       [ 94.03397983,  85.30579218,  88.31279491,  80.92379063],
       [144.29293074,  76.39706991, 130.72894796, 127.66350977],
       [ 89.85338413,  76.02460964,  87.32130567, 104.82487252],
       [ 98.6957103 ,  80.23657495,  84.06847122,  81.79174739],
       [ 87.07760229,  94.74326456, 128.87365733,  86.75782653],
       [145.70472951, 148.26482938, 103.89166906,  78.08064858],
       [134.88640003,  91.06967819, 125.55950198, 118.04562838],
       [ 54.90964851, 143.72850808,  77.74238637,  83.16282265],
       [121.48033363, 103.38717863,  51.87496985,  69.41937695],
       [ 63.94895941, 140.1807111 , 116.15553745, 111.3986196 ],
       [122.40057584, 126.3908326 ,  55.66199538,  68.06334836],
       [ 50.63803587,  66.22997252, 122.56233147,  66.94422165],
       [ 73.49671596, 106.72575881, 102.54358059, 144.87615808],
       [116.30440061, 134.73855497, 122.14931657,  98.59157995],
       [136.61701521,  51.37119699, 127.69078682, 109.34884238],
       [138.4348719 ,  90.69357871,  93.15221009, 129.81227686],
       [130.69151656, 107.15366216,  75.81123074, 103.62925709],
       [ 73.09005468,  57.4277016 , 115.75204122,  79.32943321],
       [114.83784269, 109.39918682, 131.31582373, 120.98109334],
       [134.88575665,  80.40349118, 137.57454451, 147.11536225],
       [124.04662296, 112.0625683 ,  55.04620487,  83.81141515],
       [130.27690545,  85.26414298,  62.57727091,  88.65096332],
       [118.91936575,  57.11976601, 135.21130659, 137.70458904],
       [ 86.93220004, 101.33615412,  77.32090159,  83.79640827],
       [ 73.02532215, 109.5871309 ,  98.93152568,  90.14257914],
       [ 86.16806678, 116.24476116,  89.50626687,  88.94346017],
       [ 55.90333884, 136.91558355, 103.78015386,  83.15074471],
       [106.53525076,  95.20439363, 107.44371308, 146.92439243],
       [ 72.45856419, 146.83978035, 122.79635672, 123.42319049],
       [117.77149365,  82.10093524, 122.52663959, 121.13924642],
       [131.3696064 , 149.18298868, 135.44938771, 137.07779015],
       [112.69517766,  76.0457417 ,  59.27983993,  71.16580874],
       [ 94.1107273 ,  63.09099603,  54.5777742 ,  65.17438672],
       [111.71461774,  61.18384738,  51.08464814,  99.01822357],
       [114.56661572,  70.05424883, 126.06155883, 106.14255431],
       [101.85660494,  58.66040979, 126.3512298 , 116.65131975],
       [145.46459002,  67.93844227, 135.08774486, 137.9656396 ],
       [ 61.9477656 ,  66.75522537,  58.37416903,  86.73812959],
       [136.18489566, 127.95307737,  79.16557342,  97.18956413],
       [ 78.6137904 ,  87.92157104, 116.5873409 ,  94.03455666],
       [106.89387697, 119.09690055, 110.37847128,  57.86524894],
       [ 71.86315048, 134.30922204,  80.72405894,  59.18340102],
       [146.09746192,  67.74235294, 124.19184426,  59.44976058],
       [ 98.17295934, 128.63645046,  66.5921025 , 140.6934144 ],
       [ 56.06678043,  54.06479399,  88.40142852, 103.59187359],
       [127.05851575, 107.45621517,  64.18587623, 121.08507295],
       [116.97404352,  58.40963844, 133.90951311, 118.31459064],
       [126.66460577,  64.4572343 ,  52.22850897,  99.073461  ],
       [146.97768362,  76.2741299 ,  58.75320924, 135.66331546],
       [142.56179057,  97.69795477,  80.50663739, 133.24088161],
       [ 79.22856136,  59.03554262, 113.2718144 , 143.38093708],
       [ 50.44260524, 149.29301275, 109.71972679,  58.19864718],
       [ 92.65220762, 136.00058861,  53.39778454, 130.09464768],
       [145.22227399,  92.34501774, 120.61343086,  77.99158735],
       [ 50.03225644, 113.78361041,  70.94807566,  87.82599655],
       [ 72.5311305 , 108.78614492, 138.68269523, 112.7980434 ],
       [ 68.86034759,  98.47256872,  78.56942293,  70.40716733],
       [ 92.45210433, 135.09103048, 109.3821925 , 101.49291585],
       [102.97816664, 141.30752688,  70.07214182,  63.38387984],
       [146.66101067,  79.05137638, 141.25153432, 141.89078798],
       [ 76.81301359, 109.89156415,  53.19043107, 110.78588549],
       [141.09431801, 146.05106883,  90.15159003,  75.88330379],
       [ 84.3216407 ,  80.09534058, 120.16603783, 132.54939791],
       [ 55.78175426,  55.46442191, 142.24412304, 113.66499837],
       [122.0801596 ,  82.00573158,  99.82958172, 134.92958317],
       [ 62.71384031, 147.84031426,  52.37222057,  69.34825424],
       [136.60918014, 143.77531792,  52.22319651, 116.01001274],
       [120.01358555, 120.21967777,  78.4421682 ,  71.88865889],
       [ 87.73271706,  56.85814493, 138.10222675, 122.32506978],
       [124.89583047,  79.72354801,  79.29695912, 144.50612775],
       [ 99.57718955,  56.94711985, 148.35159679, 143.23143361],
       [ 94.04717211, 132.80162998, 136.73799611, 119.19441056],
       [ 56.22612389,  50.55173194,  98.3151407 , 147.43243851],
       [ 53.40670811,  70.48221017,  67.61801323, 117.83220118],
       [135.79108567,  58.83316542, 132.43525371, 119.84061907],
       [ 70.10831153, 102.36149407,  62.76922181,  81.93893453],
       [118.51431536, 139.79023307, 121.62191038, 114.97703777],
       [129.75975365,  83.95989672, 103.44400502, 127.10850942],
       [122.74598435,  65.76018999, 108.25982308, 145.55134192],
       [111.02249641, 106.77403314, 102.2064651 ,  68.70172749]])

In [40]:
Z.mean(axis=0)

array([102.22010491,  99.191903  , 100.7808019 , 100.70489399])

In [41]:
Z.std(axis = 0)

array([28.96872766, 28.50933403, 29.46106643, 27.85898477])

In [42]:
s = StandardScaler()
Z_scaled = s.fit_transform(Z)
print(Z_scaled.mean(axis = 0))
print(Z_scaled.std(axis = 0))

[-2.91600077e-15 -2.20296004e-15 -2.72941392e-16  6.06181771e-16]
[1. 1. 1. 1.]